TELEGRAM_BOT_TOKEN=8711836409:AAFENi7dZfZsNaVeLNq94nt9ve9bDCkH4z4
TELEGRAM_CHAT_ID=
TWOGIS_API_KEY=
UNN_GROUP_ID=50793
HOME_ADDRESS=Нижний Новгород, укажите адрес
ARRIVAL_BUFFER_MINUTES=10
SEARCH_STEP_MINUTES=2
MAX_SEARCH_BACK_MINUTES=120
TRANSPORT_TYPES=bus,tram,trolleybus,metro,shuttle_bus
BUILDINGS_JSON={}
